<%- include("partials/header") %>


<div class="home container">
<h1>HOME</h1>
<% console.log(posts); %> 

<p><%= startingContent %> </p>
<% posts.forEach((post)=>{ %>
   <h1><%= post.title %></h1>
   <p><%= post.body.substring(0, 100 ,)+"..." %> 
   <a href="/posts/<%= post._id %> " >Read More</a>
   </p>
<% }) %>


</div>


<%- include("partials/footer") %> 